@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  src: url('/eelisa-bridge-academy-website/fonts/Inter-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-style: italic;
  src: url('/eelisa-bridge-academy-website/fonts/Inter-Italic-VariableFont_wght.ttf') format('truetype');
}

pink{color:var(--pink);}

:root {
  /* --------------- Desktop Font Options --------------- */
  --h1-desktop: 45px; /* 32px */
  --h2-desktop: 32px; /* 24px */
  --h3-desktop: 26px; /* 18px */

  --p-desktop: 20px; /* 14px */
  --p-btn-desktop: 20px; /* 20px */

  --footer-desktop: 10px; /* From 10px */
  --anim-translate-y-desktop: 55px;

  /* ------- Mobile Font Options - 320px to 500px ------- */
  --h1-mobile: clamp(1.625rem, 0.958rem + 3.333vw, 2rem); /* From 26px to 32px */
  --h2-mobile: clamp(1.125rem, 0.458rem + 3.333vw, 1.5rem); /* From 18px to 24px */
  --h3-mobile: clamp(1rem, 0.778rem + 1.111vw, 1.125rem); /* From 16px to 18px */

  --p-mobile: 14px;
  --p-btn-mobile: clamp(1rem, 0.556rem + 2.222vw, 1.25rem); /* From 16px to 20px */

  --footer-mobile: 12px; /* From 8px to 10px */

  --anim-translate-y: clamp(1.938rem, 0.938rem + 5vw, 2.5rem); /* From -31px to -40px */

  /* ---------------------- Colors ---------------------- */
  --background : #ffffff;

  --dark: #1D1D1B;
  --gray: #a7a7a7;

  --blue-light: #54B1EA;
  --blue-dark: #182025;
  --primary-color: #093550;
  --orange: #DF723A;
  --yellow: #EAA12B;

  --btn-roundness: 25px;
  --card-roundness: 25px;
}

/* ------------------ Common elements ------------------ */

* {
  font-family: Inter, serif;
  font-weight: 450;
  width: 100%;
  
  box-sizing: border-box;
  margin: 0;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


html {
  background-color: var(--background);
  font-optical-sizing: auto;
  /*overflow-x: hidden;*/
  overflow-x: hidden;
  overscroll-behavior: none;
}



h1 {
  font-size: var(--h1-mobile);
  font-weight: 500;
}

h2 {
  font-size: var(--h2-mobile);
  font-weight: 500;
}

h3 {
  font-size: var(--h3-mobile);
  font-weight: 600;
}

p{
  font-size: var(--p-mobile);
  font-weight: 400;
}

p-btn{
  font-size: var(--p-btn-mobile);
  font-weight: 700;
}

nav p, nav a {
  font-size: clamp(0.875rem, 0.719rem + 0.313vw, 1rem); /* Font 16px to 14px, VW 1440px to 800px */
  font-weight: 450;
}


footer *{
  font-size: var(--footer);
  font-weight: 350;
}

i {
  font-weight: bold;
}

b {
  font-weight: 700;
}


a {text-decoration: none; color: #9d9d9d;transition: all 0.25s ease;}

@media (min-width: 767px) {
  h1 { font-size: var(--h1-desktop); }
  h2 { font-size: var(--h2-desktop); }
  h3 { font-size: var(--h3-desktop); }

  p { font-size: var(--p-desktop); }
  p-btn { font-size: var(--p-btn-desktop); }
}

blue {color: var(--blue-light);}
green {color: var(--green);}
orange {color: var(--orange);}
pink {color: var(--pink);}
purple {color: var(--purple);}
gray {color: var(--gray);}
