---
import '../styles/global.css'

import StandardLayout from '../layouts/StandardLayout.astro';
import Button from '../components/Button.astro';
---

<StandardLayout pageTitle="Home">
	<div class="hero">
		<div class="hero-img">
			<img id="hero-logo" src="/eelisa-bridge-academy-website/images/logo.png" alt="SkillBridge Logo" />
		</div>
		<div class="hero-desc">
			<div class="subtitle">
				<h1>Building bridges for...</h1>
				<h1>...a skilled student</h1>
			</div>
			<div class="description">
				<h2>SkillBridge closes the gap between what you learn in school and what the industry demands, creating a seamless path for your success.</h2>
				<Button innerHtml="<p>Start your journey!</p>" type="invert normal-font" link="/" bgcolor="var(--orange)" labelcolor="var(--background)" link=""/>
			</div>
		</div>	
	</div>
</StandardLayout>

<!-- ------ Local style ------ -->

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 100%;

		background-color: var(--blue-dark);
		

		color: white;
	}

	.hero-img {
		width: 100%;
		padding: 15px 0;
	}

	.hero-desc {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 100%;
		padding: 25px 15px 125px 15px;

		background-color: red;
		gap: 50px;
	}

	.hero-desc .subtitle {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 100%;

		background-color: blue;
	
	}

	.hero-desc .description {
		background-color: var(--blue);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 100%;
	}

	.hero-desc .description h2 {
		width: 100%;
		text-align: center;
	}

	

	#hero-logo {
		width: 100%;
		max-width: 100px;
	}

</style>
