
<footer transition:name="footer">
    <div class="disclaimer">
        <img id="white-logo" src="/eelisa-bridge-academy-website/images/logo-white.png" alt="SkillBridge Logo" />
        <p>© 2021 SkillBridge. All rights reserved.</p>
        <div class="legal-text">
            <a>Website terms</a> |
            <a>Privacy Policy</a> |
            <a>Manage Cookies</a>
        </div>
    </div>

    
</footer>

<style>
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 195px;
        gap: 30px;

        background-color: var(--blue-dark);
    }

    .disclaimer{gap: 10px;}

    #white-logo {max-width: 80px;}

    .disclaimer p {
        text-align: center;
        color: rgba(255, 255, 255, 0.25);
        font-size: 12px;
    }

    .legal-text {
        flex-direction: row;
        text-align: center;
        color: white;
    }

    .legal-text a {color: var(--blue-light);font-size: var(--footer-mobile);}


</style>