---
import Button from './Button.astro'
import Language from './Language.astro'

const repo = "/esn-upm-website"
---

<div class="navbar">
    <img id="logo" src="/eelisa-bridge-academy-website/images/logo.png" alt="SkillBridge Logo" />

    <a href="">Programs</a>
    <a href="">Mentors</a>
    <a href="">Resources</a>
    <a href="">About Us</a>
    <a href="">Contact</a>

</div>

<!-- ------ Local style ------ -->

<style>
    .navbar {
        display: none;
        position: fixed;
        top: 0;
        z-index: 1000;

        justify-content: space-evenly;
        flex-direction: row;
        padding: 15px 0;

        background-color: #182025d7;
        backdrop-filter: blur(10px);
    }

    a {width: fit-content;}
    

    a:hover {
        transition: all 0.25s ease;
        color: var(--orange);
    }

    #logo {width: 80px;}

    @media (min-width: 767px) {
        .navbar {display: flex;}
    }

</style>

