---
import { ViewTransitions } from 'astro:transitions';

import '../styles/global.css'

import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import MobileNavbar from '../components/MobileNavbar.astro';

const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle} | SkillBridge</title>

        <ViewTransitions />
    </head>

    <body>
        
        <Navbar />
        
        
        <div class="main-slot">
            <slot />
        </div>

        <div class="mobile-navbar" transition:name="nav">
            <MobileNavbar />
        </div>

		<Footer />
    </body>
</html>

<!-- ------ Local style ------ -->
<style>
    body {
        color: var(--primary-color);
        background-color: var(--background);
        margin: 0;
        padding: 0;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        padding: 2rem;
    }

    .main-slot {
        gap: 0;
    }

    .mobile-navbar {
        position: fixed;
        bottom: 2%;
    }

    @media (min-width: 767px) {
        .mobile-navbar {
            display: none;
        }

        .navbar {
            display: none;
        }
    }


</style>